.block
  %h2 Z których serwisów korzystasz?
  %p Dodaj serwisy na których mają być dodawane wpisy
  %ul.navigation.accounts
    - PROVIDERS_CONFIG.each do |name, config|
      %li{ :class => cycle("alt", "normal") }
        = link_to name.classify, "/auth/#{name}", :class => name
  .clear
.block
  %h2 Dodane serwisy
  %ul.navigation.accounts
    - @social_accounts.each do |account|
      %li{ :class => cycle("alt", "normal") }= link_to account.name, account, :class => account.type_name
  .clear
- content_for :sidebar do
  = render :partial => "dashboard/sidebar"