%form.new_event
  %p
    %label Nazwa wydarzenia
    %br/
    %input{ type: "text" }
  %p
    %label Start
    %br/
    %input{ type: "text" }
  %p
    %label Koniec
    %br/
    %input{ type: "text" }
  %p
    %label Gdzie
    %br/
    %input{ type: "text" }
  %p
    %label Opis
    %br/
    %textarea{ type: "text" }

