%form.new_event
  .column.left
    %p
      %label Nazwa wydarzenia
      %br/
      %input{ type: "text" }
    %p
      %label Start
      %br/
      %input{ type: "text" }
    %p
      %label Koniec
      %br/
      %input{ type: "text" }
    %p
      %label Gdzie
      %br/
      %input{ type: "text" }
  .column.right
    %p
      %label Opis
      %br/
      %textarea{ type: "text" }
  .clear

