%form.upload_photo
  %p#upload_progress Wysyłam pliki...
  .progressbar
    .progress

  %p
    %label Nazwa albumu
    %br/
    %input.name{ type: "text" }
  %p
    %label Opis
    %br/
    %textarea.description


