%form.new_event
  .column.left
    %p
      %label Nazwa wydarzenia
      %br/
      %input.name{ type: "text" }
    %p
      %label Start
      %br/
      %input.start_date{ type: "text" }
    %p
      %label Koniec
      %br/
      %input.end_date{ type: "text" }
    %p
      %label Gdzie
      %br/
      %input.where{ type: "text" }
  .column.middle
    %p
      %label Opis
      %br/
      %textarea.description{ type: "text" }
  .column.right
    .flyaer
      %input{ type: "hidden", name: "image", id: "flyaer_image_input" }
      %img{ src: "/images/flyear_medium.png" }
      .upload#flayer_upload Zmień zdjęcie dla wydarzenia
      .upload#flayer_progress
        .progressbar
          .progress
  .clear

