.block
  %h2 Z których serwisów korzystasz?
  %p Dodaj serwisy na których mają być dodawane wpisy
  %ul.navigation.features

  .clear
.block
  %h2 Twój serwis
  %p Token do wprowadzenia w twoim serwise wraz ze skryptem
  .token
.block
  %h2 Dodane serwisy
  %ul.navigation.features

  .clear
