%h3
  Wydarzenie
.clear
.description
  .flyaer
    %img{ src: "/images/empty_flyaer.png" }
  .content
    %strong= stream.streamable.escape("title")
    %br/
    %span
      %strong Miejsce:&nbsp;
      = stream.streamable.escape("where")
    %br/
    %span
      %strong Godzina:&nbsp;
      = stream.streamable.start_date()
    %br/

