.block.details
  .header
    %ul.views
      %li.urls
        %a{ href: stream_path({ id: stream.get("id"), tab: "links" }), class: tabClass(tab, "links") } Linki
      %li.reactions 
        %a{ href: stream_path({ id: stream.get("id"), tab: "reactions"}), class: tabClass(tab, "reactions") } Reakcje
      %li.stats
        %a{ href: stream_path({ id: stream.get("id"), tab: "stats"}), class: tabClass(tab, "stats") } Statystyki
    .date
      Dodany&nbsp
      %abbr
    .clear
    .update{ class: stream.get("streamable_type").toLowerCase() }
      = stream_partial
    %hr/
    
  .scroller

