.date
  Dodany&nbsp
  %abbr
%h3 Wpis
.clear
.body= stream.streamable.escape("body")
.clear
.tab
.clear
.progressbar
  .progress
%ul.views
  %li
    %a.urls{ href: "#" } Linki
  %li
    %a.reactions{ href: "#" } Reakcje
  %li
    %a.stats{ href: "#" } Statystyki

.clear

