%h3
  Album
.clear
.description
  %strong= stream.streamable.escape("title")
  %br/
  %span= stream.streamable.escape("description")
.thumbs
  :each photo in stream.streamable.get("preview")
    %img{ src: photo.thumb }
.clear
