.date
  Dodany&nbsp
  %abbr
= stream_partial
.clear
.tab
.clear
.progressbar
  .progress
%ul.views
  %li
    %a.urls{ href: "#" } Linki
  %li
    %a.reactions{ href: "#" } Reakcje
  %li
    %a.stats{ href: "#" } Statystyki
.clear

