%h3
  Aktualność
.clear
.description
  .flyaer
    :if stream.streamable.get("image")
      %img{ src: stream.streamable.get("image") }
  .content
    %strong= stream.streamable.escape("title")
    %br/
    %span= stream.streamable.escape("body")

