    %ul{ :style => "display: block" }
      = sidebar_tab "Kokpit", dashboard_path, :dashboard
      = sidebar_tab "Twoje serwisy", social_accounts_path, :accounts
      = sidebar_tab "Płatności", dashboard_path, :payments
      = sidebar_tab "Kompedium", dashboard_path, :compedium
