:javascript
  $(document).ready(function() {
    window.auth = new App.Views.Auth();
  });
.block.center#auth_process{ 'data-redirect_to' => social_accounts_url, 'data-id' => @account.id, :type => @account.type_name }
  %h2 Logowanie do Last.fm
  .progress_status
    %p#status_message Prosze czekać... Nie odświeżaj strony!!!!!!!!!!!
    = image_tag "big_ajax.gif"
    .clear
    .progressbar
      .progress

