body {
  color: #d7d7d7;
  font-family: Arial;
  font-size: 10pt;
  margin: 0px;
  background: #0f0e0e; }

.top_bg {
  background-color: #151515;
  background-image: url(/images/tlo.png);
  background-position: 50% 0%;
  background-repeat: repeat-x;
  border-bottom: 2px solid #0a0909;
  min-height: 400px; }

.wrapper {
  width: 978px;
  margin: 0 auto;
  padding-top: 50px; }
  .wrapper .content.full {
    width: 978px;
    float: none; }
  .wrapper .content {
    float: left;
    width: 700px; }
  .wrapper .sidebar {
    float: left;
    width: 268px;
    margin-left: 10px; }

.block.center {
  margin: 10px auto;
  width: 500px; }

.block {
  padding: 10px 15px;
  margin-bottom: 10px;
  background: #0f0e0e;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px; }
  .block h3, .block h2 {
    margin: 0;
    border-bottom: 2px dotted #3b3434;
    padding-bottom: 2px;
    margin-bottom: 2px; }
  .block h2 {
    margin-bottom: 10px; }

a {
  text-decoration: none;
  color: white; }
  a img {
    border: 0px; }

.clear {
  clear: both; }

.logo {
  background: transparent url(/images/logo.png) no-repeat;
  height: 130px;
  margin-bottom: 10px;
  text-indent: -9999px;
  display: block; }
  .logo h1 {
    margin: 0px; }
    .logo h1 a {
      text-indent: -9999px;
      width: 978px;
      height: 300px;
      display: block; }

.menu {
  float: right;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1;
  text-shadow: 0 -1px 0 #3a3c44;
  list-style: none;
  margin: 0;
  margin-top: 22px;
  padding: 0; }
  .menu li {
    display: inline;
    float: left;
    margin-right: 10px; }
  .menu li:last-child {
    margin-right: 0; }
  .menu a {
    color: #9fa5b6; }
  .menu a:hover {
    color: white; }

.sites {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 25px; }
  .sites a {
    width: 274px;
    height: 44px;
    text-indent: -9999px;
    display: block; }
  .sites .rockroad {
    background-image: url("/images/rockroad.png"); }
  .sites .terrametallum {
    background-image: url("/images/terametalllum.png"); }
  .sites .forum {
    background-image: url("/images/forum.png"); }

.box {
  background: #242424;
  padding: 5px 6px;
  text-align: center;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px; }

.register {
  width: 500px;
  margin: 60px auto; }

.login {
  width: 320px;
  margin: 60px auto; }
  .login input[type="text"], .login input[type="password"] {
    width: 310px; }

.profile {
  width: 400px;
  margin: 60px auto; }
  .profile input[type="text"], .profile input[type="password"] {
    width: 310px; }

.login.mini {
  float: left;
  margin-top: 0px;
  margin-left: 150px; }

.redirect {
  width: 500px;
  margin: 60px auto;
  text-align: center; }

select {
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border: 1px solid #202020 !important;
  padding: 0px 5px !important;
  height: 23px;
  background: #242424 !important;
  color: white;
  font-weight: bold; }

input[type="text"], input[type="password"], input[type="email"], textarea {
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border: 1px solid #202020 !important;
  padding: 8px 5px !important;
  background: #242424 !important;
  color: white !important;
  width: 660px; }

.block.center input[type="text"], .block.center input[type="password"] {
  width: 490px; }

textarea {
  height: 70px; }

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  background: #2b2b2b !important; }

input[type="button"], input[type="submit"], .button {
  background: #242424;
  padding: 4px 5px !important;
  color: white;
  border: 0px;
  border-radius: 3px;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  cursor: pointer; }

label {
  margin-top: 5px !important; }

input[type="button"]:active, input[type="submit"]:active, .button:active {
  background: #2b2b2b; }

.fblogin img {
  margin-bottom: -6px; }

form.formtastic fieldset > ol > li.error {
  overflow: visible !important; }

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px; }
  .navigation .alt {
    background-color: rgba(0, 0, 0, 0.2); }
  .navigation li {
    margin-bottom: 5px;
    padding: 2px; }
    .navigation li .badge {
      float: right;
      min-width: 28px;
      background: rgba(255, 255, 255, 0.1);
      text-align: center;
      border-radius: 13px;
      -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
      font-size: 10px;
      height: 16px;
      margin-top: 1px;
      font-weight: bold; }
    .navigation li .category_color {
      margin-top: 0px;
      margin-right: 5px; }

.colors li {
  line-height: 18px; }

.category_color {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  background: white;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: black; }

.tabs {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0; }
  .tabs li a {
    display: block;
    font-weight: bold;
    padding: 5px 10px 5px 25px;
    margin-bottom: 10px;
    background: #0f0e0e url("/images/dashboard.png") 5px center no-repeat;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px; }
  .tabs a:hover {
    background-color: #242424; }
  .tabs .stats a {
    background-image: url("/images/stats.png"); }
  .tabs .accounts a {
    background-image: url("/images/accounts.png"); }
  .tabs .payments a {
    background-image: url("/images/payments.png"); }
  .tabs .active a {
    background-color: #242424; }

.error {
  color: red; }

.notice {
  margin-bottom: 15px; }

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0; }
  .list .loading {
    margin-top: 15px;
    padding-top: 80px;
    text-align: center;
    background: transparent url("/images/gacie.gif") no-repeat center top; }
  .list .notification {
    line-height: 16px;
    padding: 2px;
    color: #9fa5b6; }
    .list .notification a {
      font-weight: bold; }
    .list .notification img {
      width: 16px;
      height: 16px;
      margin-bottom: -4px; }
  .list li {
    margin-bottom: 5px; }
  .list .alt {
    background: rgba(0, 0, 0, 0.2); }
  .list .unread {
    border: 2px solid rgba(0, 0, 255, 0.3); }
  .list .post {
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
    .list .post .body {
      margin: 5px 0;
      font-size: 12px; }
    .list .post h4 {
      margin: 0;
      font-size: 14px; }
    .list .post .info {
      color: #9fa5b6;
      font-size: 11px;
      clear: both; }
    .list .post span {
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      font-weight: bold;
      color: white;
      padding: 3px;
      font-size: 14px;
      float: right;
      margin-top: 2px; }
    .list .post .important {
      background: #ff5900; }
    .list .post .reaction {
      background: #008300;
      margin-right: 5px; }
    .list .post .body {
      display: none; }

.group {
  margin-bottom: 5px; }
  .group label {
    font-weight: bold; }
  .group input[type="text"], .group textarea {
    width: 660px;
    margin-top: 15px; }

.footer {
  margin: 10px 0;
  text-align: center; }

.tasks input[type="text"] {
  width: 320px; }

ul.info {
  margin: 0px;
  list-style: none;
  padding: 0;
  border-top: 1px dashed #3b3434;
  padding-top: 2px;
  margin-top: 2px; }
  ul.info li {
    margin-bottom: 4px; }

.comment_ajax_loader {
  background: #0f0e0e url("/images/nuclear.gif") no-repeat center center;
  height: 152px;
  width: 680px;
  display: none;
  position: absolute;
  z-index: 10; }

.task {
  line-height: 18px;
  padding: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin: 5px 0; }
  .task .description {
    font-weight: bold; }
  .task a {
    color: #9fa5b6; }

.task.done .description {
  text-decoration: line-through; }

.grid {
  margin: 0px;
  list-style: none;
  padding: 0; }
  .grid .online {
    opacity: 1; }
  .grid .offline {
    opacity: 0.5; }
  .grid li {
    float: left; }
    .grid li img {
      width: 32px;
      height: 32px;
      margin: 5px 5px 0px 0; }

.move {
  cursor: move; }

.email-notification {
  float: right; }

.accounts {
  list-style: none; }
  .accounts a {
    padding-left: 22px;
    line-height: 16px;
    height: 16px;
    display: block;
    font-weight: bold;
    background: transparent url("/images/rss.gif") left center no-repeat; }

.accounts .facebook, .links .facebook, .features .facebook {
  background-image: url("/images/socials/facebook16.png"); }
.accounts .twitter, .links .twitter, .features .twitter {
  background-image: url("/images/socials/twitter16.png"); }
.accounts .flaker, .links .flaker, .features .flaker {
  background-image: url("/images/socials/flaker16.png"); }
.accounts .myspace, .links .myspace, .features .myspace {
  background-image: url("/images/socials/myspace16.png"); }
.accounts .blip, .links .blip, .features .blip {
  background-image: url("/images/socials/blip16.png"); }
.accounts .lastfm, .links .lastfm, .features .lastfm {
  background-image: url("/images/socials/lastfm.png"); }
.accounts .muzzo, .links .muzzo, .features .muzzo {
  background-image: url("/images/socials/muzzo.png"); }
.accounts .you_tube, .links .you_tube, .features .you_tube {
  background-image: url("/images/socials/youtube16.png"); }

.features span {
  padding-left: 22px;
  line-height: 16px;
  height: 16px;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  background: transparent url("/images/rss.gif") left center no-repeat; }
.features .add_feature, .features .edit_feature {
  float: right;
  width: 28px;
  height: 28px;
  display: block;
  margin-top: 3px;
  margin-right: 3px;
  text-indent: -99999px;
  background: transparent url("/images/add_social.png") center center no-repeat; }
.features .edit_feature {
  background-image: url("/images/settings.png"); }
.features .description {
  font-size: 10px; }

#api_token {
  width: 660px;
  height: 35px; }

.hidden {
  display: none; }

.links .alt {
  background-color: #0d0b0b;
  background-repeat: no-repeat;
  background-position: 5px center; }
.links li {
  margin: 0px;
  padding-left: 28px;
  line-height: 26px;
  height: 26px;
  display: block;
  font-weight: normal;
  font-size: 10px;
  background: transparent url("/images/rss.gif") 5px center no-repeat; }
  .links li a {
    font-weight: bold; }
  .links li img {
    margin-bottom: -5px;
    margin-right: 5px; }

.actions {
  list-style: none inside;
  margin: 0;
  padding: 0; }
  .actions .right {
    float: right; }
  .actions li {
    float: left; }
    .actions li a {
      width: 94px;
      height: 40px;
      padding: 10px 0 6px 0;
      background: #0f0e0e;
      text-align: center;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      margin-bottom: 10px;
      margin-right: 10px;
      display: block;
      font-size: 12px; }
    .actions li a:hover {
      background: #242424; }
    .actions li li:lasy-child a {
      margin-right: 0px; }

.unread {
  border: 2px solid rgba(0, 0, 255, 0.3); }

.update {
  padding: 5px;
  background: #0f0e0e;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }
  .update .progressbar {
    float: right;
    margin-top: 11px;
    width: 100px;
    display: none; }
    .update .progressbar .progress {
      height: 10px; }
  .update .tab {
    display: none;
    background: #0a0909;
    margin: 5px -5px -8px -5px;
    border-top: 1px #161414 solid !important;
    border-bottom: 1px #161414 solid !important; }
    .update .tab li.please_wait {
      text-align: center;
      margin-top: 7px; }
    .update .tab .links {
      margin-top: 0px;
      padding-left: 0px; }
  .update h3 {
    margin: 0;
    padding-left: 20px;
    font-size: 11px;
    background: transparent url("/images/post_small.png") no-repeat left center; }
  .update .date {
    float: right;
    font-size: 10px;
    background: #0a0909 url("/images/clock.png") 3px center no-repeat;
    padding: 5px 10px 5px 20px;
    margin-top: -5px;
    margin-right: -5px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px; }
  .update .tags {
    font-size: 10px;
    font-weight: bold;
    display: block;
    margin-top: 13px;
    margin-right: -2px;
    float: right; }
    .update .tags .tag {
      padding: 3px 5px;
      color: white;
      background: #242424;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
  .update .body {
    padding: 5px;
    color: #999999;
    line-height: 16px;
    font-size: 14px;
    border-left: 4px solid #202117; }
  .update .views.inTab li:last-child a {
    border-top-right-radius: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    border-bottom-right-radius: 4px !important;
    -moz-border-radius-bottomright: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important; }
  .update .views {
    list-style: none inside url();
    padding: 0px;
    margin-top: 10px;
    margin-left: -5px;
    margin-bottom: -1px; }
    .update .views li {
      float: left;
      margin-bottom: 0px; }
      .update .views li a {
        font-size: 10px;
        padding: 6px 10px 6px 25px;
        background: #0a0909 url("/images/urls.png") no-repeat 5px center;
        border-left: 1px #161414 solid !important; }
      .update .views li .selected, .update .views li a:hover {
        background-color: #242424; }
      .update .views li .stats {
        background-image: url("/images/links.png"); }
      .update .views li .reactions {
        background-image: url("/images/reactions.png"); }
    .update .views li:first-child a {
      border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      -webkit-border-bottom-left-radius: 4px;
      border-left: 0px !important; }
    .update .views li:last-child a {
      border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px; }

.list li.button {
  margin: 5px 0;
  text-align: center;
  font-size: 10px;
  display: none; }

.chart {
  margin-top: 10px;
  width: 700px;
  height: 210px; }
  .chart .content {
    width: 680px;
    margin: 0px 10px;
    height: 200px; }

.tooltip {
  background: #0a0909;
  border: 1px solid #0a0909;
  font-size: 12px;
  padding: 3px 4px;
  position: absolute;
  border-right-width: 2px;
  border-bottom-width: 2px; }

.legendLabel {
  color: white; }

.progressbar {
  border: 1px solid #202020;
  background: #242424;
  padding: 1px;
  width: 70px;
  float: right; }
  .progressbar .progress {
    width: 0%;
    height: 14px;
    background: #0a0909; }

.progress_status {
  text-align: center; }
  .progress_status .progressbar {
    display: none;
    width: 200px;
    margin: 5px auto;
    float: none; }

form .status_body {
  width: 452px;
  height: 56px; }

.chars_count {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px; }

.new_event input, .new_event textarea {
  width: 260px; }
