body {
  color: #d7d7d7;
  font-family: Arial;
  font-size: 10pt;
  margin: 0px;
  padding: 70px 0 10px 0;
  background: #161515 url(/images/bottom_crowd.png) fixed repeat-x bottom center; }

.wrapper {
  width: 978px;
  margin: 0 auto; }

#workspace #details {
  width: 484px;
  float: left;
  margin-left: 494px;
  min-height: 100px;
  position: fixed; }
#workspace .empty {
  text-align: center;
  color: #242424;
  font-size: 40px;
  font-weight: bold;
  border: 4px dashed #242424;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px; }
  #workspace .empty.loading {
    background: transparent url("/images/big_ajax.gif") no-repeat center center; }
#workspace #stream {
  width: 484px;
  float: left;
  margin-right: 10px;
  min-height: 100px; }
  #workspace #stream ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0px 0px 3px black; }

li.loading {
  border-top: 2px dashed #0a0909;
  padding: 5px;
  background: #0f0e0e;
  text-align: center;
  font-weight: bold; }
  li.loading button {
    padding: 15px 0px !important;
    display: block;
    font-size: 14px;
    width: 100%; }

.update {
  padding: 5px;
  background: #0f0e0e; }
  .update.unread, .update.selected {
    border: 2px solid blue;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px; }
  .update:hover {
    background: #121212 !important;
    cursor: pointer; }
    .update:hover .date {
      background-color: #0f0e0e; }
  .update.alt {
    background: #0c0c0c; }
  .update .progressbar {
    float: right;
    margin-top: 11px;
    width: 100px;
    display: none; }
    .update .progressbar .progress {
      height: 10px; }
  .update.event h3 {
    background-image: url("/images/event_small.png"); }
  .update.event .description {
    height: 60px; }
    .update.event .description .flyaer {
      width: 60px;
      text-align: center;
      position: absolute; }
    .update.event .description .content {
      margin-left: 65px; }
      .update.event .description .content span {
        font-size: 10px;
        color: #999999; }
  .update h3 {
    margin: 0;
    padding-left: 20px;
    font-size: 11px;
    border: 0 !important;
    background: transparent url("/images/post_small.png") no-repeat left center; }
  .update .date {
    float: right;
    font-size: 10px;
    background: #0a0909 url("/images/clock.png") 3px center no-repeat;
    padding: 5px 10px 5px 20px;
    margin-top: -5px;
    margin-right: -5px; }
  .update .body {
    padding: 5px;
    color: #999999;
    line-height: 16px;
    font-size: 14px;
    border-left: 4px solid #202117; }

.menu {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 40px;
  background: transparent url("/images/menu.png") repeat-x;
  padding: 0px;
  margin: 0;
  z-index: 10;
  box-shadow: black 0px 2px 5px; }
  .menu .logo {
    background: transparent url(/images/logo_mini.png) no-repeat center center;
    height: 32px;
    width: 233px;
    margin-top: 3px;
    text-indent: -9999px;
    display: inline-block;
    float: left;
    margin-right: 15px; }
  .menu ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 730px; }
    .menu ul li {
      float: left;
      height: 40px; }
      .menu ul li .selected {
        background-color: #0d0b0b;
        border: 2px solid #0a0909;
        border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -webkit-border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -webkit-border-top-right-radius: 4px;
        border-bottom: 0px; }
      .menu ul li:hover {
        background: #242424 url("/images/menu_active.png") repeat-x; }
      .menu ul li.active {
        background: #242424 url("/images/menu_selected.png") repeat-x; }
      .menu ul li.icon {
        float: right; }
        .menu ul li.icon.settings > a {
          width: 48px; }
        .menu ul li.icon > a {
          padding: 0px;
          width: 40px;
          height: 40px;
          text-indent: -9999px;
          background-position: center center; }
      .menu ul li a {
        line-height: 40px;
        display: block;
        height: 40px;
        padding-left: 36px;
        padding-right: 10px;
        displa: block;
        background: transparent url("/images/dashboard.png") 5px center no-repeat; }
      .menu ul li.settings > a {
        background-image: url("/images/config.png"); }
      .menu ul li.notifications > a {
        background-image: url("/images/notifications.png"); }
      .menu ul li.status > a {
        background-image: url("/images/post.png"); }
      .menu ul li.photo > a {
        background-image: url("/images/photos.png"); }
      .menu ul li.video > a {
        background-image: url("/images/movie.png"); }
      .menu ul li.event > a {
        background-image: url("/images/event.png"); }
      .menu ul li.news > a {
        background-image: url("/images/news.png"); }
      .menu ul li.song > a {
        background-image: url("/images/mp3.png"); }

.block.center {
  margin: 10px auto;
  width: 500px; }

.block {
  padding: 10px 15px;
  margin-bottom: 10px;
  background: #0f0e0e;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px; }
  .block h3, .block h2 {
    margin: 0;
    border-bottom: 2px dotted #3b3434;
    padding-bottom: 2px;
    margin-bottom: 2px; }
  .block h2 {
    margin-bottom: 10px; }

a {
  text-decoration: none;
  color: white; }
  a img {
    border: 0px; }

.clear {
  clear: both; }

.sites {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 25px; }
  .sites a {
    width: 274px;
    height: 44px;
    text-indent: -9999px;
    display: block; }
  .sites .rockroad {
    background-image: url("/images/rockroad.png"); }
  .sites .terrametallum {
    background-image: url("/images/terametalllum.png"); }
  .sites .forum {
    background-image: url("/images/forum.png"); }

.box {
  background: #242424;
  padding: 5px 6px;
  text-align: center;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px; }

.register {
  width: 500px;
  margin: 60px auto; }

.login_box input[type="text"], .login_box input[type="password"] {
  width: 440px; }

#auth_process, #auth_process .button {
  display: none; }

.profile {
  width: 400px;
  margin: 60px auto; }
  .profile input[type="text"], .profile input[type="password"] {
    width: 310px; }

.login.mini {
  float: left;
  margin-top: 0px;
  margin-left: 150px; }

.redirect {
  width: 500px;
  margin: 60px auto;
  text-align: center; }

select {
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border: 1px solid #202020 !important;
  padding: 0px 5px !important;
  height: 23px;
  background: #242424 !important;
  color: white;
  font-weight: bold; }

input[type="text"], input[type="password"], input[type="email"], textarea {
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border: 1px solid #202020 !important;
  padding: 8px 5px !important;
  background: #242424 !important;
  color: white !important;
  width: 660px; }

.block.center input[type="text"], .block.center input[type="password"] {
  width: 490px; }

textarea {
  height: 70px; }

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  background: #2b2b2b !important; }

input[type="button"], input[type="submit"], .button, .ui-button {
  background: #242424;
  border: 1px solid #0a0909;
  padding: 4px 5px !important;
  color: white;
  border: 0px;
  border-radius: 3px;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  cursor: pointer; }
  input[type="button"] .ui-button-text, input[type="submit"] .ui-button-text, .button .ui-button-text, .ui-button .ui-button-text {
    padding: 0 !important; }

label {
  margin-top: 5px !important; }

input[type="button"]:active, input[type="submit"]:active, .button:active {
  background: #2b2b2b; }

.fblogin img {
  margin-bottom: -6px; }

form.formtastic fieldset > ol > li.error {
  overflow: visible !important; }

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px; }
  .navigation .alt {
    background-color: rgba(0, 0, 0, 0.2); }
  .navigation li {
    margin-bottom: 5px;
    padding: 2px; }
    .navigation li .badge {
      float: right;
      min-width: 28px;
      background: rgba(255, 255, 255, 0.1);
      text-align: center;
      border-radius: 13px;
      -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
      font-size: 10px;
      height: 16px;
      margin-top: 1px;
      font-weight: bold; }
    .navigation li .category_color {
      margin-top: 0px;
      margin-right: 5px; }

.error {
  color: red; }

.notice {
  margin-bottom: 15px; }

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0; }
  .list .loading {
    margin-top: 15px;
    padding-top: 80px;
    text-align: center;
    background: transparent url("/images/gacie.gif") no-repeat center top; }
  .list .notification {
    line-height: 16px;
    padding: 2px;
    color: #9fa5b6; }
    .list .notification a {
      font-weight: bold; }
    .list .notification img {
      width: 16px;
      height: 16px;
      margin-bottom: -4px; }
  .list li {
    margin-bottom: 5px; }
  .list .alt {
    background: rgba(0, 0, 0, 0.2); }
  .list .post {
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
    .list .post .body {
      margin: 5px 0;
      font-size: 12px; }
    .list .post h4 {
      margin: 0;
      font-size: 14px; }
    .list .post .info {
      color: #9fa5b6;
      font-size: 11px;
      clear: both; }
    .list .post span {
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      font-weight: bold;
      color: white;
      padding: 3px;
      font-size: 14px;
      float: right;
      margin-top: 2px; }
    .list .post .important {
      background: #ff5900; }
    .list .post .reaction {
      background: #008300;
      margin-right: 5px; }
    .list .post .body {
      display: none; }

.group {
  margin-bottom: 5px; }
  .group label {
    font-weight: bold; }
  .group input[type="text"], .group textarea {
    width: 660px;
    margin-top: 15px; }

.footer {
  margin: 10px 0;
  text-align: center; }

.tasks input[type="text"] {
  width: 320px; }

ul.info {
  margin: 0px;
  list-style: none;
  padding: 0;
  border-top: 1px dashed #3b3434;
  padding-top: 2px;
  margin-top: 2px; }
  ul.info li {
    margin-bottom: 4px; }

.comment_ajax_loader {
  background: #0f0e0e url("/images/nuclear.gif") no-repeat center center;
  height: 152px;
  width: 680px;
  display: none;
  position: absolute;
  z-index: 10; }

.task {
  line-height: 18px;
  padding: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin: 5px 0; }
  .task .description {
    font-weight: bold; }
  .task a {
    color: #9fa5b6; }

.task.done .description {
  text-decoration: line-through; }

.grid {
  margin: 0px;
  list-style: none;
  padding: 0; }
  .grid .online {
    opacity: 1; }
  .grid .offline {
    opacity: 0.5; }
  .grid li {
    float: left; }
    .grid li img {
      width: 32px;
      height: 32px;
      margin: 5px 5px 0px 0; }

.move {
  cursor: move; }

.email-notification {
  float: right; }

.accounts {
  list-style: none; }
  .accounts a {
    padding-left: 22px;
    line-height: 16px;
    height: 16px;
    display: block;
    font-weight: bold;
    background: transparent url("/images/rss.gif") left center no-repeat; }

.accounts .facebook, .features .facebook {
  background-image: url("/images/socials/facebook16.png"); }
.accounts .twitter, .features .twitter {
  background-image: url("/images/socials/twitter16.png"); }
.accounts .flaker, .features .flaker {
  background-image: url("/images/socials/flaker16.png"); }
.accounts .myspace, .features .myspace {
  background-image: url("/images/socials/myspace16.png"); }
.accounts .blip, .features .blip {
  background-image: url("/images/socials/blip16.png"); }
.accounts .lastfm, .features .lastfm {
  background-image: url("/images/socials/lastfm.png"); }
.accounts .muzzo, .features .muzzo {
  background-image: url("/images/socials/muzzo.png"); }
.accounts .you_tube, .features .you_tube {
  background-image: url("/images/socials/youtube16.png"); }

.features span {
  padding-left: 22px;
  line-height: 16px;
  height: 16px;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  background: transparent url("/images/rss.gif") left center no-repeat; }
.features .add_feature, .features .edit_feature {
  float: right;
  width: 28px;
  height: 28px;
  display: block;
  margin-top: 3px;
  margin-right: 3px;
  text-indent: -99999px;
  background: transparent url("/images/add_social.png") center center no-repeat; }
.features .edit_feature {
  background-image: url("/images/settings.png"); }
.features .description {
  font-size: 10px; }

#api_token {
  width: 660px;
  height: 35px; }

.hidden {
  display: none; }

.links .facebook {
  background-image: url("/images/socials/facebook32.png"); }
.links .myspace {
  background-image: url("/images/socials/myspace32.png"); }
.links .twitter {
  background-image: url("/images/socials/twitter32.png"); }
.links .blip {
  background-image: url("/images/socials/blip32.png"); }
.links .lastfm {
  background-image: url("/images/socials/lastfm32.png"); }
.links .muzzo {
  background-image: url("/images/socials/muzzo32.png"); }

.links {
  list-style: none;
  padding: 0;
  margin: 0; }
  .links li {
    -webkit-border-radius: 5px;
    margin: 0 0 5px 0;
    padding-left: 42px;
    height: 40px;
    display: block;
    font-weight: normal;
    font-size: 10px;
    background: #0d0b0b url("/images/rss.gif") 5px center no-repeat; }
    .links li .account {
      padding: 4px 0px;
      display: block; }
    .links li .description {
      color: #999999; }
    .links li a {
      font-weight: bold; }
    .links li img {
      margin-bottom: -5px;
      margin-right: 5px; }

.actions {
  list-style: none inside;
  margin: 0;
  padding: 0; }
  .actions .right {
    float: right; }
  .actions li {
    float: left; }
    .actions li a {
      width: 94px;
      height: 40px;
      padding: 10px 0 6px 0;
      background: #0f0e0e;
      text-align: center;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      margin-bottom: 10px;
      margin-right: 10px;
      display: block;
      font-size: 12px; }
    .actions li a:hover {
      background: #242424; }
    .actions li li:lasy-child a {
      margin-right: 0px; }

.unread {
  border: 2px solid rgba(0, 0, 255, 0.3); }

.list li.button {
  margin: 5px 0;
  text-align: center;
  font-size: 10px;
  display: none; }

.chart {
  margin-top: 10px;
  width: 466px;
  height: 320px; }
  .chart .content {
    width: 436px;
    margin: 0px 10px;
    height: 320px; }

.tooltip {
  background: #0a0909;
  border: 1px solid #0a0909;
  font-size: 12px;
  padding: 3px 4px;
  position: absolute;
  border-right-width: 2px;
  border-bottom-width: 2px; }

.legendLabel {
  color: white; }

.progressbar {
  border: 1px solid #202020;
  background: #242424;
  padding: 1px;
  width: 70px;
  float: right; }
  .progressbar .progress {
    width: 0%;
    height: 14px;
    background: #0a0909; }

.progress_status {
  text-align: center; }
  .progress_status .progressbar {
    display: none;
    width: 200px;
    margin: 5px auto;
    float: none; }

form .status_body {
  width: 452px;
  height: 56px; }

.chars_count {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px; }

.new_event input, .new_event textarea {
  width: 260px; }
.new_event textarea {
  height: 230px; }
.new_event .flyaer {
  text-align: center;
  height: 297px;
  overflow: hidden; }
  .new_event .flyaer img {
    max-height: 240px;
    max-width: 220px;
    margin: 10px auto 5px auto; }
  .new_event .flyaer .upload {
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    width: 120px;
    font-weight: bold;
    color: white;
    font-size: 10px;
    margin: 0px auto; }
    .new_event .flyaer .upload input {
      cursor: pointer !important; }
    .new_event .flyaer .upload .progressbar {
      width: 118px;
      float: none; }
.new_event .column {
  float: left; }
  .new_event .column.left {
    width: 274px;
    padding-right: 10px;
    border-right: 1px dotted #0a0909; }
  .new_event .column.middle {
    width: 275px;
    padding-left: 11px;
    padding-right: 10px;
    border-right: 1px dotted #0a0909; }
  .new_event .column.right {
    width: 244px;
    padding-left: 11px; }

.details {
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0px;
  box-shadow: 0px 0px 3px black; }
  .details .header hr {
    margin: 3px 5px;
    border: 0px;
    border-bottom: 2px dotted #3b3434; }
  .details .header .date {
    float: right;
    font-size: 10px;
    background: #0a0909 url("/images/clock.png") 3px center no-repeat;
    padding: 6px 10px 6px 20px;
    margin-top: -2px; }
  .details .header .views {
    list-style: none inside url();
    padding: 0px;
    margin: 2px 0 0 0; }
    .details .header .views li {
      float: left;
      margin-bottom: 0px; }
      .details .header .views li a {
        font-size: 10px;
        padding: 6px 10px 6px 25px;
        background: #0a0909 url("/images/urls.png") no-repeat 5px center;
        border-left: 1px #161414 solid !important; }
      .details .header .views li .active, .details .header .views li a:hover {
        background-color: #242424;
        border: 0; }
      .details .header .views li .stats {
        background-image: url("/images/links.png"); }
      .details .header .views li .reactions {
        background-image: url("/images/reactions.png"); }
    .details .header .views li:first-child a {
      border-top-left-radius: 6px;
      -moz-border-radius-topleft: 6px;
      -webkit-border-top-left-radius: 6px;
      border-left: 0px !important; }
  .details > .scroller {
    margin: 2px;
    padding: 5px 10px;
    overflow-y: visible;
    overflow-x: hidden; }
    .details > .scroller::-webkit-scrollbar {
      width: 13px;
      height: 13px; }
    .details > .scroller::-webkit-scrollbar-button:start:decrement, .details > .scroller::-webkit-scrollbar-button:end:increment {
      display: none; }
    .details > .scroller::-webkit-scrollbar-button:vertical:start:increment, .details > .scroller::-webkit-scrollbar-button:vertical:end:decrement {
      display: none; }
    .details > .scroller::-webkit-scrollbar-track-piece {
      background-color: transparent; }
    .details > .scroller::-webkit-scrollbar-thumb:vertical {
      background-color: #242424;
      -webkit-border-radius: 6px; }

.dropdown_menu.notifications {
  margin-left: -200px; }
  .dropdown_menu.notifications .empty {
    text-align: center;
    font-weight: bold; }
  .dropdown_menu.notifications .bar {
    background-color: #0a0909;
    line-height: 20px; }

.dropdown_menu {
  position: absolute;
  display: none;
  width: 240px;
  margin-left: -192px;
  background-color: #0d0b0b;
  border: 2px solid #0a0909;
  border-top: 0px;
  box-shadow: black 0px 2px 5px;
  -webkit-box-shadow: black 0px 2px 5px;
  -moz-box-shadow: black 0px 2px 5px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px; }
  .dropdown_menu .compedium {
    background-image: url("/images/compedium.png"); }
  .dropdown_menu .accounts {
    background-image: url("/images/accounts.png"); }
  .dropdown_menu .payments {
    background-image: url("/images/payments.png"); }
  .dropdown_menu .logout {
    background-image: url("/images/logout.png"); }
  .dropdown_menu a:hover {
    background-color: #121212; }

.columns .column {
  float: left; }
  .columns .column.left {
    width: 489px; }
  .columns .column.right {
    margin-left: 10px;
    width: 479px; }

.upload_photo #upload_progress {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px; }
.upload_photo .progressbar {
  float: none;
  margin-top: 10px;
  width: 498px; }
  .upload_photo .progressbar .progress {
    height: 24px; }
.upload_photo input[type="text"], .upload_photo textarea {
  width: 488px; }

.ui-button:disabled, .ui-button[disabled="disabled"] {
  opacity: 0.2; }
