%h1 Select Facebook Page to admin

= form_tag facebook_page_path(:token => params[:token]) do
  = hidden_field_tag "page[token]", params[:token]
  = select "page", "id", @pages.map { |c| [c["name"], c["id"]] }, :include_blank => "[ Wybierz strone ]"
  = submit_tag "Dalej"
