.block
  %h2 Nowy Wpis
  = form_for @update, :html => { :class => :form } do |f|
    = render :partial => "form", :locals => {:f => f}
- content_for :sidebar do
  = render :partial => "dashboard/sidebar"
